body {
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background: rgb(2,0,36);
	background: linear-gradient(331deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  #balance{
	font-size: 21.5px;
  }
  #jackpot{
	font-size: 21.5px;
  }
  #reels {
	display: flex;
	width: 100vw;
	height: calc((3 / 5) * 102vw);
	max-height: calc(90vh - 50px - 40px);
	max-width: calc((5 / 3) * (90vh - 50px - 40px));
  }
  .reel {
	overflow: hidden;
	width: 20%;
	height: 100%;
  }
  .reel > .icons {
	position: relative;
  }
  .reel > .icons > img {
	margin: 19%;
	position: relative;
    overflow: hidden;
  }
  #controls {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #controls div{
	flex: 1;
	display: flex;
	align-items: center;
  }
   #flexwrapper
  {
	width: 100%;
	display: flex;
	align-items: center;
  }
  #flexwrapper div{
	flex: 1;
	display: flex;
	align-items: center;
  }
  button#spin{
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
  }
button#spin:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

button#spin:active {
	position:relative;
	top:1px;
}
